html,
body,
.container {
  height: 100%;
}

body {
  margin: 0;
}

.topbar {
  background-color: #008489;
  color: white;
  font-family: "Great Vibes";
  font-size: 8em;
  padding: 0.15em 0.3em;
}

.content {
  font-family: "Source Sans Pro";
  font-size: 3em;
}

.term {
  align-items: center;
  border-top: 1px solid #ccc;
  display: flex;
  height: 3em;
  justify-content: space-between;
  padding: 0 1.5em;
}

.term .term-name {
  align-items: center;
  display: flex;
}

.term .octicon {
  font-size: 1.5em;
}

.term.active .octicon {
  color: #008489;
}

.term .term-pos {
  background-color: gold;
  border-radius: 0.25em;
  font-size: 0.6em;
  padding: 0.25em;
  text-transform: uppercase;
}

.term:nth-child(even) {
  background-color: #eee;
}

.term-defn {
  padding: 0 1.5em 1.5em 1.5em;
}

.selected-term {
  background-color: rgba(253,92,99,0.25);
}
